<div id="header">
    <div *ngFor="let notif of notifications | async"
         class="alert"
         [class.alert-danger]="notif.level == Notification.Level.DANGER"
         [class.alert-warning]="notif.level == Notification.Level.WARNING"
         [class.alert-info]="notif.level == Notification.Level.INFO"
         [class.alert-success]="notif.level == Notification.Level.SUCCESS"
         [class.alert-dismissible]="notif.dismissible">
        <button type="button" class="close"
                *ngIf="notif.dismissible"
                (click)="dismiss(notif)">
            <span>&#10006;</span>
        </button>
        <span [innerHTML]="notif.text"></span>
    </div>
</div>

<div class="header">
    <div class="spacer"></div> <!-- Pushes items to the right -->

    <button mat-icon-button (click)="toggleTheme()" [title]="isDark ? 'Switch to Light Theme' : 'Switch to Dark Theme'">
        <mat-icon>{{ isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>

    <div class="status">
        Status: {{ (status | async) | capitalize }}
    </div>
    <div class="version">
        Version: {{ version }}
    </div>
</div>
