<!-- Using mat-list-item for structure and hover effects -->
<mat-list-item class="file-list-item" [class.selected]="file.isSelected" #fileElement>

  <!-- Status Icon -->
  <mat-icon matListItemIcon [matTooltip]="file.status | capitalize" [matTooltipPosition]="'above'">
    <ng-container [ngSwitch]="file.status">
      <ng-container *ngSwitchCase="ViewFile.Status.DEFAULT">
          <mat-icon *ngIf="file.remoteSize > 0">cloud_queue</mat-icon> <!-- Example: Remote available -->
          <mat-icon *ngIf="file.remoteSize == null && file.localSize > 0">insert_drive_file</mat-icon> <!-- Example: Local only -->
      </ng-container>
      <mat-icon *ngSwitchCase="ViewFile.Status.QUEUED">hourglass_empty</mat-icon>
      <mat-icon *ngSwitchCase="ViewFile.Status.DOWNLOADING">downloading</mat-icon>
      <mat-icon *ngSwitchCase="ViewFile.Status.DOWNLOADED">check_circle_outline</mat-icon>
      <mat-icon *ngSwitchCase="ViewFile.Status.ARCHIVED">archive</mat-icon> <!-- New Archived Icon -->
      <mat-icon *ngSwitchCase="ViewFile.Status.STOPPED">stop_circle</mat-icon>
      <mat-icon *ngSwitchCase="ViewFile.Status.DELETED">cloud_off</mat-icon>
      <mat-icon *ngSwitchCase="ViewFile.Status.EXTRACTING">unarchive</mat-icon> <!-- Consider animation -->
      <mat-icon *ngSwitchCase="ViewFile.Status.EXTRACTED">done_all</mat-icon>
    </ng-container>
  </mat-icon>

  <!-- File/Dir Icon and Name -->
  <div matListItemTitle class="file-name-title">
      <mat-icon class="type-icon">
        <ng-container *ngIf="!file.isDir">
            {{ file.isArchive ? 'inventory_2' : 'description' }}
        </ng-container>
        <ng-container *ngIf="file.isDir">
             {{ file.isArchive ? 'folder_zip' : 'folder' }}
        </ng-container>
      </mat-icon>
      <span class="name-text">{{ file.name }}</span>
  </div>

  <!-- Progress Bar and Size Info -->
  <div matListItemLine class="progress-line">
      <mat-progress-bar
          *ngIf="file.status === ViewFile.Status.DOWNLOADING || file.status === ViewFile.Status.EXTRACTING"
          mode="determinate"
          [value]="file.percentDownloaded">
      </mat-progress-bar>
       <mat-progress-bar
          *ngIf="file.status === ViewFile.Status.DOWNLOADED || file.status === ViewFile.Status.EXTRACTED || file.status === ViewFile.Status.ARCHIVED"
          mode="determinate"
          [value]="100">
      </mat-progress-bar>
      <span class="size-info">{{file.localSize | fileSize:3}} / {{file.remoteSize | fileSize:3}}</span>
  </div>

   <!-- Speed and ETA (shown conditionally) -->
  <div matListItemLine class="speed-eta-line" *ngIf="file.status === ViewFile.Status.DOWNLOADING">
      <span class="speed" *ngIf="file.downloadingSpeed">{{file.downloadingSpeed | fileSize:3}}/s</span>
      <span class="eta" *ngIf="file.eta">ETA: {{file.eta | eta}}</span>
  </div>

  <!-- Actions (Show on hover/selection - requires CSS/TS changes not done here) -->
  <div matListItemMeta class="actions-meta">
    <button mat-icon-button appClickStopPropagation
             [disabled]="!isQueueable()" (click)="onQueue(file)"
             [class.loading]="activeAction == FileAction.QUEUE" matTooltip="Queue Download">
        <mat-icon>add_to_queue</mat-icon>
    </button>
     <button mat-icon-button appClickStopPropagation
             [disabled]="!isStoppable()" (click)="onStop(file)"
             [class.loading]="activeAction == FileAction.STOP" matTooltip="Stop Download">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button appClickStopPropagation
             [disabled]="!isExtractable()" (click)="onExtract(file)"
             [class.loading]="activeAction == FileAction.EXTRACT" matTooltip="Extract Archive">
        <mat-icon>unarchive</mat-icon>
    </button>
     <button mat-icon-button appClickStopPropagation
             [disabled]="!isLocallyDeletable()" (click)="onDeleteLocal(file)"
             [class.loading]="activeAction == FileAction.DELETE_LOCAL" matTooltip="Delete Local File(s)">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button appClickStopPropagation
             [disabled]="!isRemotelyDeletable()" (click)="onDeleteRemote(file)"
             [class.loading]="activeAction == FileAction.DELETE_REMOTE" matTooltip="Delete Remote File(s)">
        <mat-icon>delete_forever</mat-icon>
    </button>
  </div>

</mat-list-item>
